# Package Files #
*.jar
*.war
*.ear
*.classpath

# IDE Files #
.idea
*.iml
*.project
.settings/

# Build Files #
/target
*.class
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignoro archivos de ide
.idea

# ignoro archivos generados
/src/main/xtend-gen
/src/test/xtend-gen
aterrizar.com.iml
.vagrant
Vagrantfile
/bin/
